@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: poppinsregular;
  src: url(../assets/font/Poppins-Regular.ttf); }

@font-face {
  font-family: poppinsbold;
  src: url(../assets/font/Poppins-Bold.ttf); }

@font-face {
  font-family: poppinslight;
  src: url(../assets/font/Poppins-Light.ttf); }

@font-face {
  font-family: poppinsthing;
  src: url(../assets/font/Poppins-Thin.ttf); }

@font-face {
  font-family: poppinsitalic;
  src: url(../assets/font/Poppins-ThinItalic.ttf); }

/* Todo el documento */
body {
  font-family: poppinsregular, sans-serif;
  background-color: #F2F2F2;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px; }

/* Barra de Navegación */
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header .navbar {
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #151515; }
    header .navbar a {
      color: #F2F2F2;
      text-decoration: none;
      text-decoration-color: #62D9B7;
      font-size: 25px;
      margin-left: 50px; }
    header .navbar a:hover {
      color: #62D9B7;
      text-decoration: underline; }
    header .navbar .logo {
      color: #F2F2F2;
      text-decoration: none;
      text-decoration-color: #62D9B7;
      font-size: 25px;
      margin-left: 50px; }
    header .navbar .navbar-links ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      header .navbar .navbar-links ul li {
        margin: 0px 30px; }
    header .navbar .menu-hambur {
      position: absolute;
      display: none;
      right: 50px;
      top: 50px;
      width: 35px; }
  @media screen and (max-width: 1024px) {
    header .navbar {
      padding: 0; }
      header .navbar .logo {
        font-size: 15px;
        margin-top: 50px;
        margin-left: 50px; }
      header .navbar .menu-hambur {
        display: block; }
      header .navbar .navbar-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.349);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease; }
        header .navbar .navbar-links.mobile-menu {
          margin-left: 0; }
        header .navbar .navbar-links ul {
          display: flex;
          flex-direction: column;
          align-items: center; }
          header .navbar .navbar-links ul li {
            margin: 30px 0px;
            font-size: 1.2em; } }

/* Inicio - Index */
.inicio {
  display: flex;
  align-items: center;
  width: auto;
  height: 650px;
  background: url("../assets/img/fondo-index.png");
  background-repeat: no-repeat;
  color: #F2F2F2;
  font-size: 2rem;
  font-family: poppinslight;
  /* Inicio - Index  Responsive */ }
  .inicio h2 {
    color: #7C7C7C;
    font-family: poppinsbold, sans-serif;
    font-size: 4.5rem;
    margin: -60px 0px 10px 200px; }
  .inicio h3 {
    margin-left: 200px;
    font-size: 3rem; }
  .inicio h3 span {
    font-family: poppinsbold, sans-serif;
    font-weight: bold; }
  .inicio h4 {
    margin-bottom: 10px;
    margin-left: 200px;
    overflow: hidden;
    white-space: nowrap;
    animation: maquina 2s steps(20) infinite alternate; }

@keyframes maquina {
  from {
    width: 0; }
  to {
    width: 80%; } }
  .inicio h5 {
    margin-top: 20px; }
  .inicio h5 a {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 200px;
    background-color: #151515;
    font-size: 1.5rem;
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #62D9B7;
    font-family: poppinsthing;
    animation: titilar 3s steps(4) infinite; }

@keyframes titilar {
  0% {
    border-color: #151515; }
  25% {
    border-color: #62D9B7; }
  50% {
    border-color: #151515; }
  100% {
    border-color: #62D9B7; } }
  .inicio > div:last-child {
    flex: 1; }
    .inicio > div:last-child img {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-left: 200px; }
  @media (max-width: 1024px) {
    .inicio .inicio-div {
      margin-left: 30%;
      margin-top: -10%; }
      .inicio .inicio-div h2 {
        margin: auto; }
      .inicio .inicio-div h3 {
        margin: auto; }
      .inicio .inicio-div h4 {
        margin-left: 0px;
        animation: maquina 3s steps(20) infinite alternate; }
    @keyframes maquina {
      from {
        width: 0; }
      to {
        width: 100%; } }
      .inicio .inicio-div h5 a {
        margin: auto; }
    .inicio > div:last-child img {
      display: none; } }
  @media (max-width: 768px) {
    .inicio .inicio-div {
      margin-left: 20%; } }
  @media (max-width: 425px) {
    .inicio .inicio-div {
      font-size: 20px;
      margin-top: -50%; }
    .inicio h2 {
      font-size: 20px; }
    .inicio h3 {
      font-size: 20px; }
    .inicio h4 {
      font-size: 20px; }
    @keyframes maquina {
      from {
        width: 0; }
      to {
        width: 110%; } }
    .inicio h5 a {
      font-size: 10px; } }
  @media (max-width: 375px) {
    .inicio .inicio-div {
      margin-left: 10%; } }

/* Sobre mí - Index */
.sobre-mi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }
  .sobre-mi .imagen-presentacion {
    position: relative;
    background-image: url(../assets/img/fondo-verde.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 60%; }
    .sobre-mi .imagen-presentacion .imagen-ailen-index {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      height: auto;
      display: block; }
  .sobre-mi .informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%; }
    .sobre-mi .informacion h2 {
      width: 21%;
      height: auto;
      margin-top: -10%;
      font-size: 40px;
      font-family: poppinsthing;
      border-bottom: 2px solid #62D9B7; }
    .sobre-mi .informacion h3 {
      width: 52%;
      height: auto;
      margin-top: 25px;
      font-family: poppinslight;
      margin-bottom: 2%; }
      .sobre-mi .informacion h3 span {
        font-family: poppinsbold; }
    .sobre-mi .informacion p {
      width: 50%;
      height: auto;
      margin-top: 3%;
      line-height: 1.6; }
    .sobre-mi .informacion a {
      text-decoration: none;
      margin-top: 2%;
      color: #62D9B7; }
    .sobre-mi .informacion a:hover {
      text-decoration: underline; }
  @media (max-width: 1440px) {
    .sobre-mi .informacion {
      flex: 1;
      text-align: center;
      margin-top: 20%; }
      .sobre-mi .informacion h2 {
        margin: auto;
        width: 20%; }
      .sobre-mi .informacion h3 {
        padding: 0% 15%;
        width: 95%; }
      .sobre-mi .informacion p {
        margin: auto;
        width: 80%; } }

@media (max-width: 1440px) {
  .sobre-mi {
    display: flex;
    margin-top: -20%; }
    .sobre-mi .imagen-presentacion {
      display: none; }
      .sobre-mi .imagen-presentacion .imagen-ailen-index {
        display: none; } }

@media (max-width: 768px) {
  .sobre-mi .informacion {
    margin-top: 10%; }
    .sobre-mi .informacion h2 {
      width: 25%;
      font-size: 30px; } }

@media (max-width: 425px) {
  .sobre-mi {
    margin-top: -50%; }
    .sobre-mi .informacion h2 {
      font-size: 20px;
      margin-top: -5%; }
    .sobre-mi .informacion h3 {
      font-size: 15px;
      padding: 0 10%; }
    .sobre-mi .informacion p {
      font-size: 12px;
      margin-top: 0; } }

@media (max-width: 375px) {
  .sobre-mi .informacion h2 {
    font-size: 15px; }
  .sobre-mi .informacion h3 {
    font-size: 11px; }
  .sobre-mi .informacion p {
    font-size: 10px; }
  .sobre-mi .informacion a {
    font-size: 10px; } }

/* A que me dedico - Index */
.me-dedico h2 {
  width: 100%;
  height: auto;
  margin-top: 10%;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  font-family: poppinsthing; }
  .me-dedico h2.subrayado {
    border-bottom: 2px solid #62D9B7;
    width: 30%;
    margin-left: 35%; }

.me-dedico div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2%; }
  .me-dedico div div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .me-dedico div div img {
      width: 25%;
      height: auto; }
    .me-dedico div div h3 {
      margin-top: 3%; }
    .me-dedico div div p {
      width: 50%;
      height: auto;
      text-align: center;
      margin-top: 2%; }

.me-dedico::after {
  content: "";
  margin: 5%;
  display: block;
  width: 30%;
  height: 2px;
  margin-left: 35%;
  background-color: #62D9B7; }

@media (max-width: 1440px) {
  .me-dedico h2 {
    margin-top: 5%; }
    .me-dedico h2.subrayado {
      width: 30%;
      margin-left: 35%; }
  .me-dedico div {
    margin-top: 3%; }
  .me-dedico::after {
    width: 30%;
    margin-left: 35%; } }

@media (max-width: 1024px) {
  .me-dedico h2.subrayado {
    width: 40%;
    margin-left: 30%; }
  .me-dedico::after {
    width: 40%;
    margin-left: 30%; } }

@media (max-width: 768px) {
  .me-dedico h2 {
    margin-top: 10%;
    font-size: 30px; }
    .me-dedico h2.subrayado {
      width: 50%;
      margin-left: 25%; }
  .me-dedico div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px; }
    .me-dedico div div img {
      width: 20%; }
    .me-dedico div div h3 {
      margin-top: 0; }
    .me-dedico div div p {
      width: 50%;
      margin-top: -5px; }
  .me-dedico::after {
    width: 50%;
    margin-left: 25%; } }

@media (max-width: 425px) {
  .me-dedico h2 {
    font-size: 18px; }
  .me-dedico div div img {
    width: 20%; }
  .me-dedico div div h3 {
    font-size: 20px; }
  .me-dedico div div p {
    font-size: 15px; } }

@media (max-width: 375px) {
  .me-dedico h2 {
    font-size: 15px; }
  .me-dedico div div h3 {
    font-size: 11px; }
  .me-dedico div div p {
    font-size: 10px; } }

/* Diseño y creatividad - Index */
.diseño-creatividad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: -2%;
  margin-bottom: 3%;
  font-family: poppinslight; }
  .diseño-creatividad h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5; }
    .diseño-creatividad h2 span {
      margin: 0.5em 0; }
    .diseño-creatividad h2 .font {
      color: #62D9B7;
      font-family: poppinsregular; }
  @media (max-width: 425px) {
    .diseño-creatividad h2 {
      font-size: 20px;
      line-height: 1; } }
  @media (max-width: 375px) {
    .diseño-creatividad h2 {
      font-size: 15px; } }

/* Formulario página principal */
.formulario {
  width: 300px;
  height: 100px;
  padding: 10px 25px 10px 25px;
  background-color: #7C7C7C; }

/* Sobre mí - html1 */
.sobre-mi-html {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  background-color: #151515; }
  .sobre-mi-html .sobre-mi-img img {
    width: 30%;
    height: auto;
    margin-left: 40%; }
  .sobre-mi-html .presentacion {
    padding: 20px;
    color: white;
    width: 420px; }
    .sobre-mi-html .presentacion h2 {
      font-size: 50px;
      color: #7C7C7C;
      font-family: poppinsbold; }
    .sobre-mi-html .presentacion h3 {
      font-size: 40px;
      border-bottom: 1px solid #62D9B7; }
      .sobre-mi-html .presentacion h3 span {
        font-family: poppinsbold; }
  @media (max-width: 2560px) {
    .sobre-mi-html .presentacion {
      width: 45%; }
      .sobre-mi-html .presentacion h2 {
        font-size: 65px; }
      .sobre-mi-html .presentacion h3 {
        font-size: 55px; } }
  @media (max-width: 1440px) {
    .sobre-mi-html .presentacion {
      width: 60%; }
      .sobre-mi-html .presentacion h2 {
        font-size: 50px; }
      .sobre-mi-html .presentacion h3 {
        font-size: 40px; } }
  @media (max-width: 1024px) {
    .sobre-mi-html .sobre-mi-html {
      grid-template-columns: 1fr;
      align-items: center;
      width: 100%; }
    .sobre-mi-html .sobre-mi-img {
      display: none; }
    .sobre-mi-html .presentacion {
      width: 90%;
      height: auto;
      text-align: left;
      margin-left: 25%;
      margin-bottom: 5%; }
      .sobre-mi-html .presentacion h2 {
        font-size: 40px; }
      .sobre-mi-html .presentacion h3 {
        font-size: 40px; } }
  @media (max-width: 768px) {
    .sobre-mi-html .presentacion {
      width: 90%; }
      .sobre-mi-html .presentacion h2 {
        font-size: 30px; }
      .sobre-mi-html .presentacion h3 {
        font-size: 30px; } }
  @media (max-width: 425px) {
    .sobre-mi-html .presentacion {
      width: 100%; }
      .sobre-mi-html .presentacion h2 {
        font-size: 15px; }
      .sobre-mi-html .presentacion h3 {
        font-size: 15px; } }

/* Quien soy -html1 */
.quien-soy h3 {
  text-align: center;
  font-size: 40px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%; }
  .quien-soy h3.quien-soy-subrayado {
    border-bottom: 2px solid #62D9B7;
    width: 20%;
    margin: center; }

.quien-soy .quien-soy-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  height: auto;
  text-align: left;
  margin: auto;
  margin-bottom: 5%; }
  .quien-soy .quien-soy-contenedor .quien-soy-uno {
    grid-column: 1;
    grid-row: 1; }
  .quien-soy .quien-soy-contenedor .quien-soy-dos {
    grid-column: 1;
    grid-row: 2; }
  .quien-soy .quien-soy-contenedor .quien-soy-tres {
    grid-column: 2;
    grid-row: 1;
    margin-left: 15%;
    margin-right: -20%; }
  .quien-soy .quien-soy-contenedor .quien-soy-cuatro {
    grid-column: 2;
    grid-row: 2;
    margin-left: 15%;
    margin-right: -20%; }

.quien-soy .quien-soy-cv {
  width: 15%;
  height: auto;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-color: #62D9B7;
  padding: 0.5%;
  margin-bottom: 5%; }
  .quien-soy .quien-soy-cv a {
    text-decoration: none;
    color: #151515;
    font-size: 25px; }
  .quien-soy .quien-soy-cv a:hover {
    text-decoration: underline; }

@media (max-width: 1024px) {
  .quien-soy h3 {
    font-size: 30px;
    width: 100%;
    height: auto;
    margin-bottom: 0; }
  .quien-soy .quien-soy-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: center center; }
    .quien-soy .quien-soy-contenedor .quien-soy-uno {
      grid-column: 1;
      grid-row: 1;
      margin-top: 7%; }
    .quien-soy .quien-soy-contenedor .quien-soy-dos {
      grid-column: 1;
      grid-row: 2; }
    .quien-soy .quien-soy-contenedor .quien-soy-tres {
      grid-column: 1;
      grid-row: 3;
      margin: auto; }
    .quien-soy .quien-soy-contenedor .quien-soy-cuatro {
      grid-column: 1;
      grid-row: 4;
      margin: auto; }
  .quien-soy .quien-soy-cv {
    width: 20%; }
    .quien-soy .quien-soy-cv a {
      font-size: 20px; } }

@media (max-width: 768px) {
  .quien-soy h3 {
    font-size: 20px; }
  .quien-soy .quien-soy-cv a {
    font-size: 15px; } }

@media (max-width: 425px) {
  .quien-soy .quien-soy {
    width: 100%;
    height: auto; }
  .quien-soy h3 {
    font-size: 15px; }
    .quien-soy h3.quien-soy-subrayado {
      width: 30%; }
  .quien-soy .quien-soy-contenedor {
    font-size: 10px; }
  .quien-soy .quien-soy-cv {
    width: 30%; }
    .quien-soy .quien-soy-cv a {
      font-size: 10px; } }

/* Formación - HTML 2 */
.contenedor-main {
  padding-top: 100px; }
  .contenedor-main .formacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    background: url(../assets/img/fondo-verde.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin-left: 30%;
    margin-top: 90px; }
    .contenedor-main .formacion .formacion-contenido {
      grid-column: 1;
      width: 78%;
      height: auto;
      margin-left: -40%; }
      .contenedor-main .formacion .formacion-contenido h2 {
        font-size: 35px;
        font-family: poppinsthing; }
        .contenedor-main .formacion .formacion-contenido h2 span.color {
          color: #62D9B7;
          font-family: poppinsbold; }
        .contenedor-main .formacion .formacion-contenido h2 span.italic {
          font-family: poppinsitalic; }
    .contenedor-main .formacion .imagen-html {
      grid-column: 2;
      width: 100%;
      height: auto;
      max-width: 350px;
      margin-left: -30%; }
  .contenedor-main .lenguajes-softwares div h3 {
    width: 20%;
    text-align: center;
    font-size: 30px;
    margin: 5% auto;
    border-bottom: 2px solid #62D9B7; }
  .contenedor-main .lenguajes-softwares div h4 {
    font-family: poppinsthing;
    width: 30%;
    height: auto;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-bottom: 5%; }
  .contenedor-main .lenguajes-softwares .imagenes-softwares {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
    margin-bottom: 5%; }
    .contenedor-main .lenguajes-softwares .imagenes-softwares img {
      width: 4%;
      height: auto; }
  .contenedor-main .formacion-complementaria {
    margin-bottom: 5%; }
    .contenedor-main .formacion-complementaria h3 {
      width: 25%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 30px;
      margin: 5% auto;
      border-bottom: 2px solid #62D9B7; }
    .contenedor-main .formacion-complementaria .formacion-cursos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      font-size: 20px;
      margin-left: 17%; }
      .contenedor-main .formacion-complementaria .formacion-cursos h4 {
        width: 13%;
        font-size: 25px;
        text-align: left;
        border-bottom: 2px solid #62D9B7; }
      .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com {
        grid-column: 1; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com h5 {
          margin-bottom: 5px; }
          .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com h5 span.italic {
            font-family: poppinsitalic; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com p {
          font-size: 15px; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com a {
          text-decoration: none;
          color: #62D9B7;
          font-size: 15px; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com a:hover {
          text-decoration: underline; }
      .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des {
        grid-column: 2; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des h5 {
          margin-bottom: 5px; }
          .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des h5 span.italic {
            font-family: poppinsitalic; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des p {
          font-size: 15px; }

@media (max-width: 1440px) {
  .contenedor-main .lenguajes-softwares div h3 {
    font-size: 20px;
    width: 18%; }
  .contenedor-main .lenguajes-softwares div h4 {
    font-size: 20px;
    width: 30%; }
  .contenedor-main .formacion-complementaria h3 {
    font-size: 20px;
    width: 22%; }
  .contenedor-main .formacion-complementaria .formacion-cursos h4 {
    font-size: 18px;
    width: 12%; } }

@media (max-width: 1024px) {
  .contenedor-main {
    padding-top: 45px; }
    .contenedor-main .formacion .formacion-contenido {
      width: 100%;
      margin: left;
      margin-left: -60%; }
      .contenedor-main .formacion .formacion-contenido h2 {
        font-size: 30px; }
    .contenedor-main .lenguajes-softwares div h3 {
      font-size: 15px;
      width: 18%; }
    .contenedor-main .lenguajes-softwares div h4 {
      font-size: 15px;
      width: 30%; }
    .contenedor-main .lenguajes-softwares .imagenes-softwares img {
      width: 5%;
      height: auto; }
    .contenedor-main .formacion-complementaria h3 {
      font-size: 15px;
      width: 22%; }
    .contenedor-main .formacion-complementaria .formacion-cursos h4 {
      font-size: 15px;
      width: 12%; }
    .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com h5 {
      font-size: 13px; }
    .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des h5 {
      font-size: 13px; } }

@media (max-width: 768px) {
  .contenedor-main {
    padding-top: 30px; }
    .contenedor-main .formacion .formacion-contenido {
      width: 100%;
      margin: left;
      margin-left: -60%; }
      .contenedor-main .formacion .formacion-contenido h2 {
        font-size: 20px; }
    .contenedor-main .lenguajes-softwares div h3 {
      font-size: 15px;
      width: 25%; }
    .contenedor-main .lenguajes-softwares div h4 {
      font-size: 15px;
      width: 45%; }
    .contenedor-main .formacion-complementaria h3 {
      font-size: 15px;
      width: 32%; }
    .contenedor-main .formacion-complementaria .formacion-cursos h4 {
      font-size: 15px;
      width: 20%; } }

@media (max-width: 425px) {
  .contenedor-main {
    padding-top: 5px; }
    .contenedor-main .formacion {
      background: none;
      grid-template-columns: 1fr;
      text-align: center; }
      .contenedor-main .formacion .formacion-contenido h2 {
        grid-column: 1;
        width: 100%;
        margin-left: 30%;
        font-size: 15px; }
      .contenedor-main .formacion .imagen-html {
        display: none; }
    .contenedor-main .lenguajes-softwares div h3 {
      font-size: 10px;
      width: 30%; }
    .contenedor-main .lenguajes-softwares div h4 {
      font-size: 10px;
      width: 60%; }
    .contenedor-main .lenguajes-softwares .imagenes-softwares img {
      width: 7%;
      height: auto; }
    .contenedor-main .formacion-complementaria {
      margin-top: 10%; }
      .contenedor-main .formacion-complementaria h3 {
        font-size: 10px;
        width: 40%; }
      .contenedor-main .formacion-complementaria .formacion-cursos {
        display: flex;
        flex-direction: column;
        align-items: left; }
        .contenedor-main .formacion-complementaria .formacion-cursos h4 {
          font-size: 10px;
          width: 12%;
          text-align: left; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com h5 {
          font-size: 10px; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com p {
          font-size: 10px; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-com a {
          font-size: 10px; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des h5 {
          font-size: 10px; }
        .contenedor-main .formacion-complementaria .formacion-cursos .cursos-des p {
          font-size: 10px; } }

/* Portfolio */
.mis-trabajos {
  text-align: center;
  font-size: 40px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%; }
  .mis-trabajos.mis-trabajos {
    border-bottom: 2px solid #62D9B7;
    width: 15%;
    margin: center; }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  font-size: 15px;
  margin: 5%; }
  .container .uno {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c7c7c28;
    margin: 2%;
    border-radius: 5%;
    padding: 5%; }
    .container .uno a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      order: -1; }
      .container .uno a img {
        width: 50%;
        height: auto;
        margin: 3%; }
        .container .uno a img:hover {
          transform: scale(1.5); }
    .container .uno p {
      margin: 3%;
      text-align: center; }
  .container .dos {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c7c7c28;
    margin: 2%;
    border-radius: 5%;
    padding: 5%; }
    .container .dos a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      order: -1; }
      .container .dos a img {
        width: 90%;
        height: auto;
        margin: 3%;
        margin-bottom: 8%; }
        .container .dos a img:hover {
          transform: scale(1.5); }
    .container .dos p {
      margin: 3%;
      text-align: center; }
  .container .tres {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c7c7c28;
    margin: 2%;
    border-radius: 5%;
    padding: 5%; }
    .container .tres a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      order: -1; }
      .container .tres a img {
        width: 90%;
        height: auto;
        margin: 3%;
        margin-bottom: 8%; }
        .container .tres a img:hover {
          transform: scale(1.3); }
    .container .tres p {
      margin: 3%;
      text-align: center; }
  .container .cuatro {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c7c7c28;
    margin: 2%;
    border-radius: 5%;
    padding: 5%; }
    .container .cuatro a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      order: -1; }
      .container .cuatro a img {
        width: 80%;
        height: auto;
        margin: 3%;
        margin-bottom: 8%; }
        .container .cuatro a img:hover {
          transform: scale(1.5); }
    .container .cuatro p {
      margin: 3%;
      text-align: center; }
  .container .cinco {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c7c7c28;
    margin-top: 2%;
    border-radius: 5%;
    padding: 5%; }
    .container .cinco video {
      order: -1;
      margin-bottom: 5%; }
    .container .cinco h3 {
      margin-top: 8%; }
    .container .cinco p {
      margin: 3%;
      text-align: center; }
  .container .seis {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c7c7c28;
    margin: 2%;
    border-radius: 5%;
    padding: 5%; }
    .container .seis video {
      order: -1;
      margin-bottom: 5%; }
    .container .seis h3 {
      margin-top: 6%; }
    .container .seis p {
      margin: 3%;
      text-align: center; }

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
  background-color: #151515;
  gap: 15px; }
  footer a img {
    transition: transform 0.3s ease; }
    footer a img:hover {
      transform: scale(1.2); }

/* Footer responsive */
@media (max-width: 768px) {
  a img {
    width: 30px;
    height: auto; } }

@media (max-width: 425px) {
  a img {
    width: 20px;
    height: auto; } }
