@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: poppinsregular;
  src: url(../assets/font/Poppins-Regular.ttf); }

@font-face {
  font-family: poppinsbold;
  src: url(../assets/font/Poppins-Bold.ttf); }

@font-face {
  font-family: poppinslight;
  src: url(../assets/font/Poppins-Light.ttf); }

@font-face {
  font-family: poppinsthing;
  src: url(../assets/font/Poppins-Thin.ttf); }

/* Todo el documento */
body {
  font-family: poppinsregular, sans-serif;
  background-color: #F2F2F2;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px; }

/* Barra de Navegación */
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header .barra {
    background-color: #151515;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .barra a:hover {
      color: #62D9B7;
      text-decoration: underline; }
    header .barra a {
      color: #F2F2F2;
      text-decoration: none;
      text-decoration-color: #62D9B7;
      font-size: 25px;
      margin-left: 50px; }
    header .barra ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      header .barra ul li a {
        margin-left: 20px;
        text-decoration: none;
        color: #F2F2F2; }

/* Inicio - Index */
.inicio {
  display: flex;
  align-items: center;
  height: 650px;
  background: url("../assets/img/fondo-index.png");
  background-repeat: no-repeat;
  color: #F2F2F2;
  font-size: 30px;
  font-family: poppinslight;
  margin-top: -10px; }
  .inicio h2 {
    color: #7C7C7C;
    font-family: poppinsbold, sans-serif;
    font-size: 75px;
    margin: -150px 0px 10px 200px; }
  .inicio h3 {
    margin-left: 200px;
    font-size: 50px; }
  .inicio h3 span {
    font-family: poppinsbold, sans-serif;
    font-weight: bold; }
  .inicio h4 {
    margin-bottom: 10px;
    margin-left: 200px; }
  .inicio h5 {
    margin-top: 20px; }
  .inicio h5 a {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 200px;
    background-color: #151515;
    font-size: 20px;
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #62D9B7;
    font-family: poppinsthing; }
  .inicio > div:last-child {
    flex: 1; }
    .inicio > div:last-child img {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin-left: 200px; }

/* Sobre mí - Index */
.sobre-mi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }
  .sobre-mi .imagen-presentacion {
    position: relative;
    background-image: url(../assets/img/fondo-verde.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 60%; }
    .sobre-mi .imagen-presentacion .imagen-ailen-index {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      height: auto;
      display: block; }
  .sobre-mi .informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%; }
    .sobre-mi .informacion h2 {
      width: 21%;
      height: auto;
      margin-top: -10%;
      font-size: 40px;
      font-family: poppinsthing;
      border-bottom: 2px solid #62D9B7; }
    .sobre-mi .informacion h3 {
      width: 52%;
      height: auto;
      margin-top: 25px;
      font-family: poppinslight;
      margin-bottom: 2%; }
      .sobre-mi .informacion h3 span {
        font-family: poppinsbold; }
    .sobre-mi .informacion p {
      width: 50%;
      height: auto;
      margin-top: 3%;
      line-height: 1.6; }
    .sobre-mi .informacion a {
      text-decoration: none;
      margin-top: 2%;
      color: #62D9B7; }
    .sobre-mi .informacion a:hover {
      text-decoration: underline; }

/* A que me dedico - Index */
.me-dedico h2 {
  width: 100%;
  height: auto;
  margin-top: 10%;
  text-align: center;
  display: inline-block; }
  .me-dedico h2.subrayado {
    border-bottom: 2px solid #62D9B7;
    width: 20%;
    margin-left: 40%; }

.me-dedico div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2%; }
  .me-dedico div div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .me-dedico div div img {
      width: 25%;
      height: auto; }
    .me-dedico div div h3 {
      margin-top: 3%; }
    .me-dedico div div p {
      width: 50%;
      height: auto;
      text-align: center;
      margin-top: 2%; }

.me-dedico::after {
  content: "";
  margin: 5%;
  display: block;
  width: 20%;
  height: 2px;
  margin-left: 40%;
  background-color: #62D9B7; }

/* Diseño y creatividad - Index */
.diseño-creatividad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: -2%;
  margin-bottom: 3%;
  font-family: poppinslight; }
  .diseño-creatividad h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5; }
    .diseño-creatividad h2 span {
      margin: 0.5em 0; }
    .diseño-creatividad h2 .font {
      color: #62D9B7;
      font-family: poppinsregular; }

/* Formulario Index */
.form {
  width: 50%;
  height: auto;
  background-color: #7C7C7C;
  margin-left: 25%;
  margin-bottom: 3%;
  padding: 2%;
  color: #F2F2F2;
  text-align: center;
  border-radius: 20px; }
  .form div {
    margin-bottom: 2%; }
    .form div p {
      font-size: 25px;
      font-family: poppinslight; }

/* Formación */
.formacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }

/* Formulario página principal */
.formulario {
  width: 300px;
  height: 100px;
  padding: 10px 25px 10px 25px;
  background-color: #7C7C7C; }

/* Sobre mí - html1 */
.sobre-mi-html {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  background-color: #151515; }
  .sobre-mi-html .sobre-mi-img img {
    width: 30%;
    height: auto;
    margin-left: 40%; }
  .sobre-mi-html .presentacion {
    padding: 20px;
    color: white;
    width: 420px; }
    .sobre-mi-html .presentacion h2 {
      font-size: 50px;
      color: #7C7C7C;
      font-family: poppinsbold; }
    .sobre-mi-html .presentacion h3 {
      font-size: 40px;
      border-bottom: 1px solid #62D9B7; }
      .sobre-mi-html .presentacion h3 span {
        font-family: poppinsbold; }

/* Quien soy -html1 */
.quien-soy h3 {
  text-align: center;
  font-size: 40px;
  margin: 5%; }
  .quien-soy h3.quien-soy-subrayado {
    border-bottom: 2px solid #62D9B7;
    width: 15%;
    margin-left: 43%; }

.quien-soy .quien-soy-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  height: auto;
  text-align: left;
  margin-left: 13%;
  margin-bottom: 5%; }
  .quien-soy .quien-soy-contenedor .quien-soy-uno {
    grid-column: 1;
    grid-row: 1; }
  .quien-soy .quien-soy-contenedor .quien-soy-dos {
    grid-column: 1;
    grid-row: 2; }
  .quien-soy .quien-soy-contenedor .quien-soy-tres {
    grid-column: 2;
    grid-row: 1;
    margin-left: 15%;
    margin-right: -20%; }
  .quien-soy .quien-soy-contenedor .quien-soy-cuatro {
    grid-column: 2;
    grid-row: 2;
    margin-left: 15%;
    margin-right: -20%; }

.quien-soy .quien-soy-cv {
  width: 15%;
  height: auto;
  text-align: center;
  margin-top: 20px;
  margin-left: 43%;
  background-color: #62D9B7;
  padding: 0.5%;
  margin-bottom: 5%; }
  .quien-soy .quien-soy-cv a {
    text-decoration: none;
    color: #151515; }
  .quien-soy .quien-soy-cv a:hover {
    text-decoration: underline; }

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
  background-color: #151515;
  gap: 15px; }
