* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppinsregular;
    src: url(../assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsbold;
    src: url(../assets/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinslight;
    src: url(../assets/font/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsthing;
    src: url(../assets/font/Poppins-Thin.ttf);
}

/* Todo el documento */
body {
    font-family: poppinsregular, sans-serif;
    background-color: #F2F2F2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

/* Barra de Navegación */
header {
    position: sticky;
    top: 0;
    z-index: 1;

    .barra {
        background-color: #151515;
        padding: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a:hover {
            color: #62D9B7;
            text-decoration: underline;
        }

        a {
            color: #F2F2F2;
            text-decoration: none;
            text-decoration-color: #62D9B7;
            font-size: 25px;
            margin-left: 50px;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    margin-left: 20px;
                    text-decoration: none;
                    color: #F2F2F2;
                }
            }
        }
    }
}

/* Inicio - Index */
.inicio {
    display: flex;
    align-items: center;
    height: 650px;
    background: url('../assets/img/fondo-index.png');
    background-repeat: no-repeat;
    color: #F2F2F2;
    font-size: 30px;
    font-family: poppinslight;
    margin-top: -10px;

    h2 {
        color: #7C7C7C;
        font-family: poppinsbold, sans-serif;
        font-size: 75px;
        margin: -150px 0px 10px 200px;
    }

    h3 {
        margin-left: 200px;
        font-size: 50px;
    }

    h3 span {
        font-family: poppinsbold, sans-serif;
        font-weight: bold;
    }

    h4 {
        margin-bottom: 10px;
        margin-left: 200px;
    }

    h5 {
        margin-top: 20px;
    }

    h5 a {
        display: inline-block;
        padding: 5px 10px;
        margin-left: 200px;
        background-color: #151515;
        font-size: 20px;
        color: #F2F2F2;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid #62D9B7;
        font-family: poppinsthing;
    }

    >div:last-child {
        flex: 1;

        img {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-left: 200px;
        }
    }
}

/* Sobre mí - Index */
.sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .imagen-presentacion {
        position: relative;
        background-image: url(../assets/img/fondo-verde.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 60%;

        .imagen-ailen-index {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 45%;
            height: auto;
            display: block;
        }
    }

    .informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;

        h2 {
            width: 21%;
            height: auto;
            margin-top: -10%;
            font-size: 40px;
            font-family: poppinsthing;
            border-bottom: 2px solid #62D9B7;
        }

        h3 {
            width: 52%;
            height: auto;
            margin-top: 25px;
            font-family: poppinslight;
            margin-bottom: 2%;

            span {
                font-family: poppinsbold;
            }
        }

        p {
            width: 50%;
            height: auto;
            margin-top: 3%;
            line-height: 1.6;
        }

        a {
            text-decoration: none;
            margin-top: 2%;
            color: #62D9B7;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

/* A que me dedico - Index */
.me-dedico {
    h2 {
        width: 100%;
        height: auto;
        margin-top: 10%;
        text-align: center;
        display: inline-block;

        &.subrayado {
            border-bottom: 2px solid #62D9B7;
            width: 20%;
            margin-left: 40%;
        }
    }

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 25%;
                height: auto;
            }

            h3 {
                margin-top: 3%;
            }

            p {
                width: 50%;
                height: auto;
                text-align: center;
                margin-top: 2%;
            }
        }
    }

    &::after {
        content: "";
        margin: 5%;
        display: block;
        width: 20%;
        height: 2px;
        margin-left: 40%;
        background-color: #62D9B7;
    }

}

/* Diseño y creatividad - Index */
.diseño-creatividad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: -2%;
    margin-bottom: 3%;
    font-family: poppinslight;

    h2 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0.5;

        span {
            margin: 0.5em 0;
        }

        .font {
            color: #62D9B7;
            font-family: poppinsregular;
        }
    }
}

/* Formulario Index */
.form {
    width: 50%;
    height: auto;
    background-color: #7C7C7C;
    margin-left: 25%;
    margin-bottom: 3%;
    padding: 2%;
    color: #F2F2F2;
    text-align: center;
    border-radius: 20px;

    div {
        margin-bottom: 2%;

        p {
            font-size: 25px;
            font-family: poppinslight;
        }
    }
}

/* Formación */
.formacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* Formulario página principal */
.formulario {
    width: 300px;
    height: 100px;
    padding: 10px 25px 10px 25px;
    background-color: #7C7C7C;
}

/* Sobre mí - html1 */
.sobre-mi-html {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    background-color: #151515;

    .sobre-mi-img {
        img {
            width: 30%;
            height: auto;
            margin-left: 40%
        }
    }

    .presentacion {
        padding: 20px;
        color: white;
        width: 420px;

        h2 {
            font-size: 50px;
            color: #7C7C7C;
            font-family: poppinsbold;
        }

        h3 {
            font-size: 40px;
            border-bottom: 1px solid #62D9B7;

            span {
                font-family: poppinsbold;
            }
        }
    }
}


/* Quien soy -html1 */
.quien-soy {
    h3 {
        text-align: center;
        font-size: 40px;
        margin: 5%;
        
        &.quien-soy-subrayado {
            border-bottom: 2px solid #62D9B7;
            width: 15%;
            margin-left: 43%;
        }
    }

    .quien-soy-contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 70%;
        height: auto;
        text-align: left;
        margin-left: 13%;
        margin-bottom: 5%;

        .quien-soy-uno {
            grid-column: 1;
            grid-row: 1;
        }

        .quien-soy-dos {
            grid-column: 1;
            grid-row: 2;
        }

        .quien-soy-tres {
            grid-column: 2;
            grid-row: 1;
            margin-left: 15%;
            margin-right: -20%;
        }

        .quien-soy-cuatro {
            grid-column: 2;
            grid-row: 2;
            margin-left: 15%;
            margin-right: -20%;
        }
    }

    .quien-soy-cv {
        width: 15%;
        height: auto;
        text-align: center;
        margin-top: 20px;
        margin-left: 43%;
        background-color: #62D9B7;
        padding: 0.5%;
        margin-bottom: 5%;
        
        a{
            text-decoration: none;
            color: #151515;
        }

        a:hover{
            text-decoration: underline;
        }
    }

}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    background-color: #151515;
    gap: 15px;
}