* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppinsregular;
    src: url(../assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsbold;
    src: url(../assets/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinslight;
    src: url(../assets/font/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsthing;
    src: url(../assets/font/Poppins-Thin.ttf);
}

@font-face {
    font-family: poppinsitalic;
    src: url(../assets/font/Poppins-ThinItalic.ttf);
}

/* Todo el documento */
body {
    font-family: poppinsregular, sans-serif;
    background-color: #F2F2F2;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

/* Barra de Navegación */
header {
    position: sticky;
    top: 0;
    z-index: 1;

    .barra {
        background-color: #151515;
        padding: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a:hover {
            color: #62D9B7;
            text-decoration: underline;
        }

        a {
            color: #F2F2F2;
            text-decoration: none;
            text-decoration-color: #62D9B7;
            font-size: 25px;
            margin-left: 50px;
        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    margin-left: 20px;
                    text-decoration: none;
                    color: #F2F2F2;
                }
            }
        }
    }

    /* barra de navegación responsive */
    @media (max-width: 1024px) {
        .barra {
            a {
                font-size: 18px;
                gap: 5%;
            }
        }
    }

    @media (max-width: 768px) {
        .barra {
            padding: 20px;
            margin-top: 5px;

            a {
                margin-left: 5px;
                font-size: 16px;
            }
        }
    }

    @media (max-width: 425px) {
        .barra {
            padding: 15px;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            a {
                margin: 2% auto;
                font-size: 10px;
            }

            nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: -15px;

                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-bottom: 5px;
                    }

                    a {
                        text-decoration: none;
                        color: #F2F2F2;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

/* Inicio - Index */
.inicio {
    display: flex;
    align-items: center;
    height: 650px;
    background: url('../assets/img/fondo-index.png');
    background-repeat: no-repeat;
    color: #F2F2F2;
    font-size: 2rem;
    font-family: poppinslight;
    margin-top: -10px;

    h2 {
        color: #7C7C7C;
        font-family: poppinsbold, sans-serif;
        font-size: 4.5rem;
        margin: -150px 0px 10px 200px;
    }

    h3 {
        margin-left: 200px;
        font-size: 3rem;
    }

    h3 span {
        font-family: poppinsbold, sans-serif;
        font-weight: bold;
    }

    h4 {
        margin-bottom: 10px;
        margin-left: 200px;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 4s steps(30) forwards;
        animation-iteration-count: infinite;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;

        }
    }

    @keyframes erasing {
        from {
            width: 100%;
        }

        to {
            width: 0;
        }
    }

    h5 {
        margin-top: 20px;
    }

    h5 a {
        display: inline-block;
        padding: 5px 10px;
        margin-left: 200px;
        background-color: #151515;
        font-size: 1.5rem;
        color: #F2F2F2;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid #62D9B7;
        font-family: poppinsthing;
    }

    >div:last-child {
        flex: 1;

        img {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-left: 200px;
        }
    }

    /* Inicio - Index  Responsive */
    @media (max-width: 1440px) {

        h2,
        h3,
        h4,
        h5 a,
        >div:last-child img {
            margin-left: 200px;
        }
    }

    @media (max-width: 1024px) {
        .inicio-div {
            margin-left: 30%;
            margin-top: -25%;
        }

        h2 {
            margin: auto;
        }

        h3 {
            margin: auto;
        }

        h4 {
            margin: auto;
        }

        h5 a {
            margin: auto;
        }

        >div:last-child img {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .inicio-div {
            margin-left: 20%;
        }
    }

    @media (max-width: 425px) {
        .inicio-div {
            font-size: 20px;
            margin-top: -100%;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 20px;
        }

        h5 a {
            font-size: 10px;
        }
    }
}

/* Sobre mí - Index */
.sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .imagen-presentacion {
        position: relative;
        background-image: url(../assets/img/fondo-verde.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 60%;

        .imagen-ailen-index {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 45%;
            height: auto;
            display: block;
        }
    }

    .informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15%;

        h2 {
            width: 21%;
            height: auto;
            margin-top: -10%;
            font-size: 40px;
            font-family: poppinsthing;
            border-bottom: 2px solid #62D9B7;
        }

        h3 {
            width: 52%;
            height: auto;
            margin-top: 25px;
            font-family: poppinslight;
            margin-bottom: 2%;

            span {
                font-family: poppinsbold;
            }
        }

        p {
            width: 50%;
            height: auto;
            margin-top: 3%;
            line-height: 1.6;
        }

        a {
            text-decoration: none;
            margin-top: 2%;
            color: #62D9B7;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 1440px) {
        .informacion {
            h2 {
                width: 30%;
            }

            h3 {
                width: 70%;
            }
        }
    }

    @media (max-width: 1440px) {
        .informacion {
            margin-top: 30%;

            h2 {
                width: 40%;
            }

            h3 {
                width: 95%;
            }

            p {
                width: 80%;
            }
        }
    }
}

@media (max-width: 1440px) {
    .sobre-mi {
        display: flex;
        margin-top: -20%;

        .imagen-presentacion {
            display: none;

            .imagen-ailen-index {
                display: none;
            }
        }
    }

    .informacion {
        flex: 1;
        text-align: center;

        h2 {
            margin: auto;
        }

        h3 {
            padding: 0% 15%;
        }

        p {
            margin: auto;
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .sobre-mi {
        margin-top: -60%;

        .informacion {
            h2 {
                font-size: 20px;
                margin-top: -5%;
            }

            h3 {
                font-size: 15px;
                padding: 0 10%;
            }

            p {
                font-size: 12px;
                margin-top: 0;
            }
        }
    }
}

/* A que me dedico - Index */
.me-dedico {
    h2 {
        width: 100%;
        height: auto;
        margin-top: 10%;
        text-align: center;
        display: inline-block;

        &.subrayado {
            border-bottom: 2px solid #62D9B7;
            width: 20%;
            margin-left: 40%;
        }
    }

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 25%;
                height: auto;
            }

            h3 {
                margin-top: 3%;
            }

            p {
                width: 50%;
                height: auto;
                text-align: center;
                margin-top: 2%;
            }
        }
    }

    &::after {
        content: "";
        margin: 5%;
        display: block;
        width: 20%;
        height: 2px;
        margin-left: 40%;
        background-color: #62D9B7;
    }

    @media (max-width: 768px) {
        div {
            display: block;

            div {
                margin-top: 20px;
            }
        }

        h2 {
            &.subrayado {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

/* Diseño y creatividad - Index */
.diseño-creatividad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: -2%;
    margin-bottom: 3%;
    font-family: poppinslight;

    h2 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0.5;

        span {
            margin: 0.5em 0;
        }

        .font {
            color: #62D9B7;
            font-family: poppinsregular;
        }
    }

    @media (max-width: 425px) {
        h2 {
            font-size: 25px;
            line-height: 1;
        }
    }
}

/* Formulario Index */
.form {
    width: 50%;
    height: auto;
    background-color: #7C7C7C;
    margin-left: 25%;
    margin-bottom: 3%;
    padding: 2%;
    color: #F2F2F2;
    text-align: center;
    border-radius: 20px;

    div {
        margin-bottom: 2%;

        p {
            font-size: 25px;
            font-family: poppinslight;
        }
    }
}

/* Formación */
.formacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* Formulario página principal */
.formulario {
    width: 300px;
    height: 100px;
    padding: 10px 25px 10px 25px;
    background-color: #7C7C7C;
}

/* Sobre mí - html1 */
.sobre-mi-html {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    background-color: #151515;

    .sobre-mi-img {
        img {
            width: 30%;
            height: auto;
            margin-left: 40%
        }
    }

    .presentacion {
        padding: 20px;
        color: white;
        width: 420px;

        h2 {
            font-size: 50px;
            color: #7C7C7C;
            font-family: poppinsbold;
        }

        h3 {
            font-size: 40px;
            border-bottom: 1px solid #62D9B7;

            span {
                font-family: poppinsbold;
            }
        }
    }

    @media (max-width: 2560px) {
        .presentacion {
            width: 45%;

            h2 {
                font-size: 65px;
            }

            h3 {
                font-size: 55px;
            }
        }
    }

    @media (max-width: 1440px) {
        .presentacion {
            width: 60%;

            h2 {
                font-size: 50px;
            }

            h3 {
                font-size: 40px;
            }
        }
    }

    @media (max-width: 1024px) {
        .sobre-mi-html {
            grid-template-columns: 1fr;
            align-items: center;
            width: 100%;
        }

        .sobre-mi-img {
            display: none;
        }

        .presentacion {
            width: 90%;
            height: auto;
            text-align: left;
            margin-left: 25%;
            margin-bottom: 5%;

            h2 {
                font-size: 40px;
            }

            h3 {
                font-size: 40px;
            }
        }
    }

    @media (max-width: 768px) {
        .presentacion {
            width: 90%;

            h2 {
                font-size: 30px;
            }

            h3 {
                font-size: 30px;
            }
        }
    }

    @media (max-width: 425px) {
        .presentacion {
            width: 100%;

            h2 {
                font-size: 15px;
            }

            h3 {
                font-size: 15px;
            }
        }
    }
}


/* Quien soy -html1 */
.quien-soy {
    h3 {
        text-align: center;
        font-size: 40px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;

        &.quien-soy-subrayado {
            border-bottom: 2px solid #62D9B7;
            width: 20%;
            margin: center;
        }
    }

    .quien-soy-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 70%;
        height: auto;
        text-align: left;
        margin: auto;
        margin-bottom: 5%;

        .quien-soy-uno {
            grid-column: 1;
            grid-row: 1;
        }

        .quien-soy-dos {
            grid-column: 1;
            grid-row: 2;
        }

        .quien-soy-tres {
            grid-column: 2;
            grid-row: 1;
            margin-left: 15%;
            margin-right: -20%;
        }

        .quien-soy-cuatro {
            grid-column: 2;
            grid-row: 2;
            margin-left: 15%;
            margin-right: -20%;
        }
    }

    .quien-soy-cv {
        width: 15%;
        height: auto;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        background-color: #62D9B7;
        padding: 0.5%;
        margin-bottom: 5%;

        a {
            text-decoration: none;
            color: #151515;
            font-size: 25px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 1024px) {
        h3 {
            font-size: 30px;
            width: 100%;
            height: auto;
            margin-bottom: 0;
        }

        .quien-soy-contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            margin: center center;

            .quien-soy-uno {
                grid-column: 1;
                grid-row: 1;
                margin-top: 7%;
            }

            .quien-soy-dos {
                grid-column: 1;
                grid-row: 2;
            }

            .quien-soy-tres {
                grid-column: 1;
                grid-row: 3;
                margin: auto;
            }

            .quien-soy-cuatro {
                grid-column: 1;
                grid-row: 4;
                margin: auto;
            }
        }

        .quien-soy-cv {
            width: 20%;

            a {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        h3 {
            font-size: 20px;
        }

        .quien-soy-cv a {
            font-size: 15px;
        }
    }

    @media (max-width: 425px) {
        .quien-soy {
            width: 100%;
            height: auto;
        }

        h3 {
            font-size: 15px;

            &.quien-soy-subrayado {
                width: 30%;
            }
        }

        .quien-soy-contenedor {
            font-size: 10px;
        }

        .quien-soy-cv {
            width: 30%;

            a {
                font-size: 10px;
            }
        }
    }
}

/* Formación - HTML 2 */
.formacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    background: url(../assets/img/fondo-verde.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 30%;

    .formacion-contenido {
        grid-column: 1;
        width: 78%;
        height: auto;
        margin-left: -40%;

        h2 {
            font-size: 35px;
            font-family: poppinsthing;

            span.color {
                color: #62D9B7;
                font-family: poppinsbold;
            }

            span.italic {
                font-family: poppinsitalic;
            }
        }
    }

    .imagen-html {
        grid-column: 2;
        width: 100%;
        height: auto;
        max-width: 350px;
        margin-left: -30%;
    }

    @media (max-width: 1024px) {
        .formacion-contenido {
            width: 100%;
            margin: left;
            margin-left: -60%;

            h2 {
                font-size: 30px;
            }
        }
    }

    @media (max-width: 768px) {
        .formacion-contenido {
            width: 100%;
            margin: left;
            margin-left: -60%;

            h2 {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 425px) {
    .formacion {
        background: none;
        grid-template-columns: 1fr;

        .formacion-contenido {
            h2 {
                grid-column: 1;
                width: 100%;
                margin-left: 30%;
            }
        }

        .imagen-html {
            display: none;
        }
    }
}

.lenguajes-softwares {
    div {
        h3 {
            text-align: center;
            font-size: 40px;
            margin: 5% auto;

            &.lenguajes-softwares-subrayado {
                border-bottom: 2px solid #62D9B7;
                width: 27%;
                margin: auto;
                margin-bottom: 5%;
                margin-top: 5%;
            }
        }

        h4 {
            width: 40%;
            height: auto;
            text-align: center;
            font-size: 35px;
            font-family: poppinslight;
            margin: auto;
            margin-bottom: 5%;
        }
    }

    .imagenes-softwares {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: auto;
        margin-bottom: 5%;

        img {
            width: 6%;
            height: auto;
        }
    }

    @media (max-width: 2560px) {
        .imagenes-softwares img {
            width: 4%;
        }
    }

    @media (max-width: 1440px) {
        div {
            h3 {
                font-size: 30px;
            }

            h4 {
                font-size: 30px;
            }
        }

        .imagenes-softwares img {
            width: 6%;
        }
    }

    @media (max-width: 1024px) {
        div {
            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        div {
            h3 {
                font-size: 15px;
            }

            h4 {
                font-size: 15px;
            }
        }
    }

    @media (max-width: 425px) {
        div {
            h3 {
                font-size: 15px;

                &.lenguajes-softwares-subrayado {
                    width: 50%;
                }
            }

            h4 {
                font-size: 15px;
                width: 80%;
            }
        }

        .imagenes-softwares img {
            width: 10%;
        }
    }
}

.formacion-complementaria {
    margin-bottom: 5%;

    h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        margin: 5% auto;
        font-family: poppinslight;

        &.formacion-complementaria-subrayado {
            border-bottom: 2px solid #62D9B7;
            width: 35%;
        }
    }

    .formacion-cursos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        font-size: 20px;
        margin-left: 17%;

        h4 {
            text-align: left;

            &.formacion-complementaria-subrayado {
                border-bottom: 1.5px solid #62D9B7;
                width: 10%;
            }
        }

        .cursos-com {
            grid-column: 1;

            h5 {
                margin-bottom: 5px;

                span.italic {
                    font-family: poppinsitalic;
                }
            }

            a {
                text-decoration: none;
                color: #62D9B7;
                font-size: 15px;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .cursos-des {
            grid-column: 2;

            h5 {
                margin-bottom: 5px;

                span.italic {
                    font-family: poppinsitalic;
                }
            }
        }
    }

    @media (max-width: 2560px) {
        .formacion-cursos {
            font-size: 35px;

            h4 {
                font-size: 30px;
            }

            .cursos-com {
                a {
                    font-size: 25px;
                }
            }
        }
    }

    @media (max-width: 1440px) {
        h3 {
            font-size: 30px;
        }

        .formacion-cursos {
            font-size: 20px;

            h4 {
                font-size: 20px;
            }

            .cursos-com {
                a {
                    font-size: 15px;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        h3 {
            font-size: 20px;
        }
    }

    @media (max-width: 425px) {
        h3 {
            font-size: 15px;
            margin-top: 15%;

            &.formacion-complementaria-subrayado {
                width: 60%;
            }
        }

        .formacion-cursos {
            font-size: 10px;

            h4 {
                font-size: 15px;
            }

            .cursos-com {
                a {
                    font-size: 10px;
                }
            }
        }
    }
}

/* Portfolio */
.mis-trabajos {
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    &.mis-trabajos {
        border-bottom: 2px solid #62D9B7;
        width: 15%;
        margin: center;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    font-size: 15px;
    margin: 5%;

    .uno {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c7c7c28;
        margin: 2%;
        border-radius: 5%;
        padding: 5%;

        img {
            width: 50%;
            height: auto;
            order: -1;
            margin: 3%;

            &:hover {
                transform: scale(1.5);
            }
        }

        p {
            margin: 3%;
            text-align: center;
        }
    }

    .dos {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c7c7c28;
        margin: 2%;
        border-radius: 5%;
        padding: 5%;

        img {
            width: 90%;
            height: auto;
            order: -1;
            margin: 3%;
            margin-bottom: 8%;

            &:hover {
                transform: scale(1.5);
            }
        }

        p {
            margin: 3%;
            text-align: center;
        }
    }

    .tres {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c7c7c28;
        margin: 2%;
        border-radius: 5%;
        padding: 5%;

        img {
            width: 90%;
            height: auto;
            order: -1;
            margin: 3%;
            margin-bottom: 8%;

            &:hover {
                transform: scale(1.3);
            }
        }

        p {
            margin: 3%;
            text-align: center;
        }
    }

    .cuatro {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c7c7c28;
        margin: 2%;
        border-radius: 5%;
        padding: 5%;

        img {
            width: 80%;
            height: auto;
            order: -1;
            margin: 3%;
            margin-bottom: 8%;

            &:hover {
                transform: scale(1.5);
            }
        }

        p {
            margin: 3%;
            text-align: center;
        }
    }

    .cinco {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c7c7c28;
        margin-top: 2%;
        border-radius: 5%;
        padding: 5%;

        video {
            order: -1;
            margin-bottom: 13%;
        }

        h3 {
            margin-top: 8%;
        }

        p {
            margin: 3%;
            text-align: center;
        }
    }

    .seis {
        grid-column: 3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7c7c7c28;
        margin: 2%;
        border-radius: 5%;
        padding: 5%;

        video {
            order: -1;
            margin-bottom: 13%;
        }

        h3 {
            margin-top: 6%;
        }

        p {
            margin: 3%;
            text-align: center;
        }
    }
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    background-color: #151515;
    gap: 15px;

    a img {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}

/* Footer responsive */
@media (max-width: 768px) {
    a img {
        width: 30px;
        height: auto;
    }
}

@media (max-width: 425px) {
    a img {
        width: 20px;
        height: auto;
    }
}