/* Index - Sobre mí */
@media (max-width: 1440px) {
    .sobre-mi {
        display: flex;
        margin-top: -20%;

        .informacion {
            flex: 1;
            text-align: center;
            margin-top: 20%;

            h2 {
                margin: auto;
                width: 20%;
            }

            h3 {
                padding: 0% 15%;
                width: 95%;
            }

            p {
                margin: auto;
                width: 80%;
            }
        }

        .imagen-presentacion {
            display: none;

            .imagen-ailen-index {
                display: none;
            }
        }
    }
}

/* Index - A qué me dedico */
@media (max-width: 1440px) {
    .me-dedico {
        h2 {
            margin-top: 5%;

            &.subrayado {
                width: 30%;
                margin-left: 35%;
            }
        }

        div {
            margin-top: 3%;
        }

        &::after {
            width: 30%;
            margin-left: 35%;
        }
    }
}

/* Sobre mí */
@media (max-width: 1440px) {
    .contenedor-main-dos {
        padding-top: 80px;

        .sobre-mi-html {
            .presentacion {
                width: 60%;

                h2 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 40px;
                }
            }
        }

        .quien-soy {
            h3 {
                font-size: 30px;
                width: 15%;
                height: auto;
                margin-bottom: 0;
            }

            .quien-soy-contenedor {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                margin: center center;

                .quien-soy-uno {
                    grid-column: 1;
                    grid-row: 1;
                    margin-top: 7%;
                }

                .quien-soy-dos {
                    grid-column: 1;
                    grid-row: 2;
                }

                .quien-soy-tres {
                    grid-column: 1;
                    grid-row: 3;
                    margin: auto;
                }

                .quien-soy-cuatro {
                    grid-column: 1;
                    grid-row: 4;
                    margin: auto;
                }
            }

            .quien-soy-cv {
                width: 20%;

                a {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Formación */
@media (max-width: 1440px) {
    .contenedor-main {
        .lenguajes-softwares {
            div {
                h3 {
                    font-size: 20px;
                    width: 18%;
                }

                h4 {
                    font-size: 20px;
                    width: 30%;
                }
            }
        }

        .formacion-complementaria {
            h3 {
                font-size: 20px;
                width: 22%;
            }

            .formacion-cursos {
                h4 {
                    font-size: 18px;
                    width: 12%;
                }
            }
        }
    }
}

/* Portfolio */
@media (max-width: 1440px) {
    .contenedor-main-tres {
        .mis-trabajos {
            font-size: 30px;
        }
    }
}