/* Index */
@media (max-width: 768px) {
    .inicio {
        .inicio-div {
            margin-left: 20%;
        }
    }
}

/* Index - Sobre mí */
@media (max-width: 768px) {
    .sobre-mi {
        .informacion {
            margin-top: 10%;

            h2 {
                width: 25%;
                font-size: 30px;
            }
        }
    }
}

/* Index - A qué me dedico */
@media (max-width: 768px) {
    .me-dedico {
        h2 {
            margin-top: 10%;
            font-size: 30px;

            &.subrayado {
                width: 50%;
                margin-left: 25%;
            }
        }

        div {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            gap: 20px;

            div {
                img {
                    width: 20%;
                }

                h3 {
                    margin-top: 0;
                }

                p {
                    width: 50%;
                    margin-top: -5px;
                }
            }
        }

        &::after {
            width: 50%;
            margin-left: 25%;
        }
    }
}

/* Sobre mí */
@media (max-width: 768px) {
    .contenedor-main-dos {
        .sobre-mi-html {
            .presentacion {
                width: 45%;

                h2 {
                    font-size: 30px;
                }

                h3 {
                    font-size: 30px;
                }
            }
        }

        .quien-soy {
            h3 {
                font-size: 20px;
            }

            .quien-soy-cv a {
                font-size: 15px;
            }
        }
    }
}

/* Formación */
@media (max-width: 768px) {
    .contenedor-main {
        padding-top: 30px;

        .formacion {
            .formacion-contenido {
                width: 100%;
                margin: left;
                margin-left: -60%;

                h2 {
                    font-size: 20px;
                }
            }
        }

        .lenguajes-softwares {
            div {
                h3 {
                    font-size: 15px;
                    width: 25%;
                }

                h4 {
                    font-size: 15px;
                    width: 45%;
                }
            }
        }

        .formacion-complementaria {
            h3 {
                font-size: 15px;
                width: 32%;
            }

            .formacion-cursos {
                h4 {
                    font-size: 15px;
                    width: 20%;
                }
            }
        }
    }
}